@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  --slide-spacing: 3rem;
  --slide-size: 39%;
}

.embla__container {
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  max-width: 696px;
  transition: opacity 0.2s ease-in-out;
}

.embla__slide:last-child{
  margin-right: 3rem;
}

.embla__slide:not(.is-snapped) {
  opacity: 0.16;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #121214;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #121214;
}